/* adding font family */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
}

section{
    width: 90%;
    margin: 0px auto 80px auto;
}

/* shared styles */
.section-title{
    font-size: 24px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    line-height: 30px;
    margin-bottom: 18px;
}

.description{
    color: rgb(13, 19, 33);
    font-size: 14px;
    opacity: 0.7;
    line-height: 18px;

}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

/* banner styles */
.banner-container{
    max-width: 1440px;
    height: 571px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 67px;
}

.banner-content-container{
    width: 65%;
    margin: 26px auto 44px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner-container h2{
    font-size: 32px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-weight: bold;
    text-align: center;
}

.banner-container button{
    padding: 16px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}



/* development section */
.development{
    height: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.development-container{
    width: 80%;
    height: 1100px;
    /* margin: 75px; */
    padding: 0 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(13, 19, 33, 0.02);
}


.card-text-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 32px;
}


.card-container-1, .card-container-2, .card-container-3{
    display: flex;
    height: 25%;
    border-radius: 16px;
}
.card-container-1, .card-container-3{
    justify-content: space-between;
}

.img-container{
    width: 30%;
    display: flex;
}

.card-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(13, 19, 33, 0.7);
}

.card-text-container button{
    font-size: 16px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    padding: 8px 16px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;   
}

/* inspiration section styles */
.inspiration-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiration-text{
    width: 60%;
    text-align: center;
    margin-bottom: 32px;
}

.inspiration-video{
    width: 100%;
    height: 546px;

    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 24px;
}

.inspiration-video iframe{
    width: 100%; 
    height: 100%;
    border-radius: 16px;
}

